USE [testmdb]
GO
/****** Object:  User [HTKN01]    Script Date: 5/29/2023 11:34:01 PM ******/
CREATE USER [HTKN01] FOR LOGIN [HTKN01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/29/2023 11:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MAKH] [int] NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[SDT] [varchar](10) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[DIACHI] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaive]    Script Date: 5/29/2023 11:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaive](
	[MALV] [varchar](10) NOT NULL,
	[TENLV] [varchar](50) NOT NULL,
	[GIA] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhanvien]    Script Date: 5/29/2023 11:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhanvien](
	[MANV] [nvarchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[CMND] [varchar](12) NOT NULL,
	[SDT] [varchar](10) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GIOITINH] [bit] NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_Nhanvien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_CMND] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phim]    Script Date: 5/29/2023 11:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phim](
	[maphim] [int] NOT NULL,
	[tenphim] [nvarchar](100) NOT NULL,
	[nuocsx] [nvarchar](10) NOT NULL,
	[ngaykhoichieu] [date] NOT NULL,
	[namsx] [int] NOT NULL,
	[daodien] [nvarchar](50) NOT NULL,
	[thoiluong] [int] NOT NULL,
	[link] [varchar](8000) NOT NULL,
	[matt] [int] NOT NULL,
	[mota] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[maphim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 5/29/2023 11:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MAQUYEN] [varchar](50) NOT NULL,
	[TENQUYEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room]    Script Date: 5/29/2023 11:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room](
	[MAPHONG] [varchar](10) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[TONGSOGHE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUATCHIEU]    Script Date: 5/29/2023 11:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUATCHIEU](
	[MASUATCHIEU] [int] NOT NULL,
	[NGAYCHIEU] [date] NOT NULL,
	[MAPHONG] [varchar](10) NOT NULL,
	[MAPHIM] [int] NOT NULL,
	[GIOCHIEU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASUATCHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/29/2023 11:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Email] [varchar](50) NOT NULL,
	[MaQuyen] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[theloai]    Script Date: 5/29/2023 11:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[theloai](
	[matl] [varchar](10) NOT NULL,
	[tentl] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[matl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[theloaiphim]    Script Date: 5/29/2023 11:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[theloaiphim](
	[matl] [varchar](10) NOT NULL,
	[maphim] [int] NOT NULL,
 CONSTRAINT [PK__theloaip__7A217E17985E3202] PRIMARY KEY CLUSTERED 
(
	[matl] ASC,
	[maphim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 5/29/2023 11:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MAVE] [int] NOT NULL,
	[MASUATCHIEU] [int] NOT NULL,
	[MAKH] [int] NULL,
	[SOGHE] [int] NOT NULL,
	[NGAYBAN] [date] NOT NULL,
	[MALV] [varchar](10) NOT NULL,
	[MANV] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_EMAIL_KhachHang] FOREIGN KEY([EMAIL])
REFERENCES [dbo].[TaiKhoan] ([Email])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_EMAIL_KhachHang]
GO
ALTER TABLE [dbo].[Nhanvien]  WITH CHECK ADD  CONSTRAINT [FK_EMAIL_Nhanvien] FOREIGN KEY([EMAIL])
REFERENCES [dbo].[TaiKhoan] ([Email])
GO
ALTER TABLE [dbo].[Nhanvien] CHECK CONSTRAINT [FK_EMAIL_Nhanvien]
GO
ALTER TABLE [dbo].[SUATCHIEU]  WITH CHECK ADD  CONSTRAINT [FK_MAPHONG_SUATCHIEU] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[room] ([MAPHONG])
GO
ALTER TABLE [dbo].[SUATCHIEU] CHECK CONSTRAINT [FK_MAPHONG_SUATCHIEU]
GO
ALTER TABLE [dbo].[SUATCHIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHIM_SUATCHIEU] FOREIGN KEY([MAPHIM])
REFERENCES [dbo].[phim] ([maphim])
GO
ALTER TABLE [dbo].[SUATCHIEU] CHECK CONSTRAINT [FK_PHIM_SUATCHIEU]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [PK_Taikhoan_Quyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MAQUYEN])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [PK_Taikhoan_Quyen]
GO
ALTER TABLE [dbo].[theloaiphim]  WITH CHECK ADD  CONSTRAINT [FK_maphim_theloaiphim] FOREIGN KEY([maphim])
REFERENCES [dbo].[phim] ([maphim])
GO
ALTER TABLE [dbo].[theloaiphim] CHECK CONSTRAINT [FK_maphim_theloaiphim]
GO
ALTER TABLE [dbo].[theloaiphim]  WITH CHECK ADD  CONSTRAINT [FK_theloaiphim_theloai] FOREIGN KEY([matl])
REFERENCES [dbo].[theloai] ([matl])
GO
ALTER TABLE [dbo].[theloaiphim] CHECK CONSTRAINT [FK_theloaiphim_theloai]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_MALV_VE] FOREIGN KEY([MALV])
REFERENCES [dbo].[loaive] ([MALV])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_MALV_VE]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_MAPHONG_VE] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_MAPHONG_VE]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_MASUATCHIEU_VE] FOREIGN KEY([MASUATCHIEU])
REFERENCES [dbo].[SUATCHIEU] ([MASUATCHIEU])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_MASUATCHIEU_VE]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_Nhanvien] FOREIGN KEY([MANV])
REFERENCES [dbo].[Nhanvien] ([MANV])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_Nhanvien]
GO
